<div class="d-flex justify-content-center">

    <table class="table">
        <thead>
          <tr>
            <th>Nome</th>
            <th>idade</th>
          </tr>
        </thead>
        
        <tbody>
           <tr *ngFor="let pessoa of item" class="pessoa" >
            <td> <a [routerLink]="[pessoa.nome]" class=" link-dark text-decoration-none"> {{pessoa.nome}}</a></td>
            <td >{{pessoa.idade}}</td>
            <!-- <td ><button  class="  btn btn-primary editar" [routerLink]="[pessoa.nome]">Edit</button></td> -->
              <app-pessoa-edit  [pessoaSelecionada] ="pessoa">
              </app-pessoa-edit>
            
            
          </tr>
        </tbody>
    </table>
        

</div>




